.navFixed{
  position: fixed;
  background-color: bisque;
}
.navig{
  padding-bottom: 100px;
}

.clock{
  font-size: 3em;
}
body{
  overflow-x:hidden;
}

.article{
  width: 100%;
}
.content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}